th {
  text-align: left;
}

.my-music-list {
  &_extract-files {
    margin-bottom: 24px;
  }
  &_album {
    min-width: 200px;
  }
  &_artiss {
    width: 150px;
  }
  &_track-number {
    min-width: 100px;
  }
  &_track {
    min-width: 500px;
  }
}
