@import "./album.scss";

.my-music-list_album {
  min-width: 200px;
}
.my-music-list_artiss {
  width: 150px;
}
.my-music-list_track-number {
  min-width: 100px;
}
.my-music-list_track{
  min-width: 300px;
}